kubernetes/
work/
.vscode/
.git/
wf-inputs/
wf-outputs/
wf-meta/
7cpus/
aws-s3/
kill/

README.md
.gitignore
*.html
*.png
.nextflow.log*
.nextflow.pid
AWS.env
con.md
nextflow-with-fusion-and-wave.md
notes
