params {
  input_bb   = '/home/eouser/git-repos/sits/Eolab/germany-subset.gpkg'
  input_wc   = '/codede/auxdata/esa-worldcover-2020/*tif'
  input_proj = '/force/FORCE/C1/L2/ard/datacube-definition.prj'
  input_cube = '/force/FORCE/C1/L2/ard/**'
  //model      = 's3://indir/models/lstm-sits.pkl'
  //cutoff     = 20230101
  output     = '/home/eouser/git-repos/TreeSITS-k8s/wf-outputs/oad-transformer-classification'
  meta       = '/home/eouser/git-repos/TreeSITS-k8s/wf-meta/oad-transformer-classification'
}

docker {
  enabled = true
  fixOwnership = true
  remove = true
  temp = 'auto'
  runOptions = '-u $(id -u):$(id -g)'
}

process {
  container = 'floriankaterndahl/sits:0.0.7'
  executor = 'local'
  cpus = 7
  memory = 60.GB
  errorStrategy = 'retry'
  maxRetries = 3
  scratch = true
  
  withLabel: maxCPU {
    cpus = 14
  }

  withLabel: force {
    container = 'davidfrantz/force:3.7.12'
  }
}

dag {
  enabled = true
  overwrite = true
  file = "${params.meta}/dag.png"
}

report {
  enabled = true
  overwrite = true
  file = "${params.meta}/report.html"
}

trace {
  enabled = true
  overwrite = true
  file = "${params.meta}/trace.txt"
}

timeline {
  enabled = true
  overwrite = true
  file = "${params.meta}/timeline.html"
}
