params {
  input_bb = 's3://indir/aoi/germany-subset.gpkg'
  input_wc = 's3://indir/esa-worldcover-2020/*tif'
  input_proj = 's3://indir/force/datacube-definition.prj'
  input_cube = '/force/FORCE/C1/L2/ard/**'
  model = 's3://indir/models/lstm-sits.pkl'
  cutoff = 20230101
}

docker {
  enabled = true
  fixOwnership = true
  remove = true
  temp = 'auto'
  runOptions = '-u $(id -u):$(id -g)'
}

process {
  container = 'floriankaterndahl/sits:0.0.6'
  executor = 'k8s'
  cpus = 7
  memory = 60.GB
  errorStrategy = 'retry'
  maxRetries = 3
  scratch = true
  
  withLabel: maxCPU {
    cpus = 14
  }

  withLabel: force {
    container = 'davidfrantz/force:3.7.12'
  }
}

k8s {
  context = 'default'
  name = 'oad-lstm-classification'
  debug.yaml = true
  fetchNodeName = true
  serviceAccount = 'nextflow-serviceaccount'
  runAsUser = 0 // running as non-root would need further configuration
  computeResourceType = 'Pod' // though job is preferred
  pullPolicy = 'IfNotPresent'
  dsl2 = true
  privileged = true // Specifies whether the pod should run as a privileged container
}

aws {
  accessKey = "$AWS_ACCESS_KEY"
  secretKey = "$AWS_SECRET_KEY"
  region = 'RegionOne'
  client {
    endpoint = 'https://cloud.fra1-1.cloudferro.com:8080'
    s3PathStyleAccess = true
  }  
}

wave {
  enabled = true
  strategy = ['dockerfile','container']
}

fusion {
  enabled = true
  exportStorageCredentials = true
}

dag {
  enabled = true
  overwrite = true
  file = 'wf-meta/dag-oad-lstm-classification.png'
}

report {
  enabled = true
  overwrite = true
  file = 'wf-meta/report-oad-lstm-classification.html'
}

trace {
  enabled = true
  overwrite = true
  file = 'wf-meta/trace-oad-lstm-classification.txt'
}
