params {
  input_bb = 's3://indir/aoi/germany-subset.gpkg'
  input_wc = 's3://indir/esa-worldcover-2020/*tif'
  input_proj = 's3://indir/force/datacube-definition.prj'
  /* NOTE: 
   * Files are searched for based on the location you execute the workflow from and 
   * not from inside the actual container running in kubernetes cluster!
   */
  input_cube = '/force/FORCE/C1/L2/ard/**'
  model = 's3://indir/models/lstm-sits.pkl'
  cutoff = 20230101
}

docker {
  enabled = true
  fixOwnership = true
  remove = true
  temp = 'auto'
  runOptions = '-u $(id -u):$(id -g)'
}

process {
  container = 'floriankaterndahl/sits:0.0.6'
  executor = 'k8s'
  cpus = 7
  memory = 60.GB
  errorStrategy = 'retry'
  maxRetries = 3

  /* The scratch directive allows you to execute the process in a temporary folder that is local to the execution node. => performance increase if disabled with fusion? Maybe not since data needs to be uploaded to AWS S3 anyway
   * Using the fusion FS, no scratch is only viable if the S3 bucket is NVME base, according to whitepaper. However, tests showed slight improvements nontheless!
   * It's unclear however, if these were real performance improvements or due to "hot paths".
   */
  scratch = true
  
  withLabel: maxCPU {
    cpus = 14
  }
}

k8s {
  context = 'default'
  name = 'oad-lstm-classification'
  debug.yaml = true
  fetchNodeName = true
  serviceAccount = 'nextflow-serviceaccount'
  runAsUser = 0 // running as non-root would need further configuration
  computeResourceType = 'Pod' // though job is preferred
  pullPolicy = 'IfNotPresent'
  dsl2 = true
  privileged = true // Specifies whether the pod should run as a privileged container
}

aws {
  accessKey = "$AWS_ACCESS_KEY"
  secretKey = "$AWS_SECRET_KEY"
  region = 'RegionOne'
  client {
    endpoint = 'https://cloud.fra1-1.cloudferro.com:8080'
    s3PathStyleAccess = true
  }  
}

wave {
  enabled = true
  strategy = ['dockerfile','container']
}

fusion {
  enabled = true
  exportStorageCredentials = true
}

dag {
  enabled = true
  overwrite = true
  file = 'dag-oad-lstm-classification.png'
}

report {
  enabled = true
  overwrite = true
  file = 'report-oad-lstm-classification.html'
}
