params {
  input_bb = '/input/aoi/germany-subset.gpkg'
  input_wc = '/input/esa-worldcover-2020/*tif'
  input_proj = '/force/datacube-definition.prj'
  cube_files = '/force/*'
  model = '/input/models/lstm-sits.pkl'
  cutoff = 20230101
}

docker {
  enabled = true
  fixOwnership = true
  remove = true
  temp = 'auto'
  runOptions = '-u $(id -u):$(id -g)'
}

process {
  container = 'floriankaterndahl/sits:0.0.4-small'
  executor = 'k8s'
  cpus = 4 // 10
  memory = 30.GB // 64.GB
  scratch = true // The scratch directive allows you to execute the process in a temporary folder that is local to the execution node. => SPRICHT FÜR EPHEMERAL STORAGE OHNE VOLUME ATTACHED, ODER?
  pod = [
    [volumeClaim: 'indir',   mountPath: '/input'],
    [volumeClaim: 'workdir', mountPath: '/nf-execution'],
    [volumeClaim: 'outdir',  mountPath: '/out'],
    [volumeClaim: 'force',   mountPath: '/force', readOnly: true]
  ]

  withLabel: gpu {
    //accelerator 1, type: 'nvidia-a6000'
    cpus = 6 // match EO-Lab flavor
    memory = 32.GB
  }
}

k8s {
  name = 'oad-lstm-classification'
  debug.yaml = true
  fetchNodeName = true
  serviceAccount = 'nextflow-serviceaccount'
  runAsUser = 0 // do I really want to run the workflow as root?
  computeResourceType = 'Pod' // change to Job?
  pullPolicy = 'IfNotPresent'
  dsl2 = true
  storageClaimName = 'outdir'
  storageMountPath = '/nf-execution'
  projectDir = '/nf-execution/project'
  workdir = '/nf-execution/work'
  launchDir = '/nf-execution/launch' // difference launchDir and projectDir?
}